@font-face {
  font-family: 'B Koodak Bold_0';
  src: url(./B+Koodak+Bold_0.eot);
  src: url(./B+Koodak+Bold_0.eot?#iefix) format('embedded-opentype'),
       url(./B+Koodak+Bold_0.woff) format('woff');
}
